USE [master]
GO
/****** Object:  Database [ciudadesAbiertas]    Script Date: 25/02/2020 14:33:23 ******/
CREATE DATABASE [ciudadesAbiertas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ciudadesAbiertas', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ciudadesAbiertas.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ciudadesAbiertas_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ciudadesAbiertas_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ciudadesAbiertas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ciudadesAbiertas]
GO
/****** Object:  User [ciudadesAbiertas]    Script Date: 25/02/2020 14:33:23 ******/
CREATE USER [ciudadesAbiertas] FOR LOGIN [ciudadesAbiertas] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [ciudadesAbiertas]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ciudadesAbiertas]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ciudadesAbiertas]
GO
/****** Object:  Schema [apiDinamica]    Script Date: 25/02/2020 14:33:24 ******/
CREATE SCHEMA [apiDinamica]
GO
/****** Object:  UserDefinedFunction [dbo].[Translate]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Translate]
(     @Source      VARCHAR(8000)
   , @ReplaceCharOrder    VARCHAR(8000)
   , @ReplaceWithCharOrder   VARCHAR(8000)
)
   RETURNS VARCHAR(8000) AS  

/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

   Object Name      :   dbo.Translate
   Author         :   UB for DCF, on August05, 2008
   Purpose         :   Like TRANSLATE function in Oracle. Charecter-wise replace in source string with given charecters.
   Input         :   
   Output         :   returns @Translated_Source string 
   Version         :   1.0 as of 08/05/2008
   Modification   :   
   Execute         :   SELECT dbo.Translate('ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890', '1234567890', '0987654321')

 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */


BEGIN 

   --
   --   Validate input 
   --
   IF   @Source   IS NULL
         RETURN NULL
   
   IF    @Source   = ''
         RETURN ''

   IF    @ReplaceCharOrder IS NULL         OR
      @ReplaceCharOrder = ''
         RETURN @Source

   IF   @ReplaceWithCharOrder IS NULL   
         RETURN 'Invalid parameters in function call dbo.Translate'


   --
   --   Variables used
   --
   DECLARE   @Curr_Pos_In_Source      INT
      , @Check_Source_Str_Len      INT
      , @nth_source         VARCHAR(1)
      , @Found_Match         INT
      , @Translated_Source      VARCHAR(8000)
      , @Match_In_ReplaceWith      VARCHAR(1)


   --
   --   Assign starting values for variables
   --
   SELECT    @Curr_Pos_In_Source      = 1
      , @Check_Source_Str_Len      = LEN(@Source)
      , @Translated_Source      = ''



   --
   --   Replace each charecter with its corrosponding charecter from @ReplaceWithCharOrder
   --
   WHILE @Curr_Pos_In_Source <= @Check_Source_Str_Len
   BEGIN

      --
      --   Get the n'th charecter in @Source
      --
      SELECT @nth_source = SUBSTRING(@Source, @Curr_Pos_In_Source, 1)
   

      --
      --   See if there is a matching character for @nth_source in the @ReplaceCharOrder String, then replace it with 
      --   corrosponding character in @ReplaceWithCharOrder String. If not..go to next n'th character in @Source
      --      If a match is found in @ReplaceCharOrder but no corrosponding character in @ReplaceWithCharOrder
      --      then, replace it with '' (nothing)
      --   Store the resultant string in a separate variable
      --
      SELECT @Found_Match = CHARINDEX(@nth_source, @ReplaceCharOrder COLLATE SQL_Latin1_General_CP1_CS_AS)

      IF @Found_Match > 0
      BEGIN
         --
         --   Finding corrosponding match in the @Found_Match'th position in @ReplaceWithCharOrder
         --   if not found then replace it with '' (nothing)
         --
         SELECT  @Match_In_ReplaceWith = SUBSTRING(@ReplaceWithCharOrder, @Found_Match, 1)

         --
         --   Now replace @nth_source with @Match_In_ReplaceWith and store it in @Translated_Source
         --
         SELECT @Translated_Source = @Translated_Source + @Match_In_ReplaceWith
      END
      ELSE
      BEGIN
         --
         --   No match found in @ReplaceCharOrder
         --
         SELECT @Translated_Source = @Translated_Source + @nth_source
      END

      --
      --   Increment the current position for loop
      --
      SELECT @Curr_Pos_In_Source = @Curr_Pos_In_Source + 1
      
   END
   

   RETURN @Translated_Source

END
GO
/****** Object:  Table [apiDinamica].[DATABASECHANGELOG]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[DATABASECHANGELOG](
	[ID] [nvarchar](255) NOT NULL,
	[AUTHOR] [nvarchar](255) NOT NULL,
	[FILENAME] [nvarchar](255) NOT NULL,
	[DATEEXECUTED] [datetime2](3) NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [nvarchar](10) NOT NULL,
	[MD5SUM] [nvarchar](35) NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[TAG] [nvarchar](255) NULL,
	[LIQUIBASE] [nvarchar](20) NULL,
	[CONTEXTS] [nvarchar](255) NULL,
	[LABELS] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[DATABASECHANGELOGLOCK]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime2](3) NULL,
	[LOCKEDBY] [nvarchar](255) NULL,
 CONSTRAINT [PK_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[entidad_base]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[entidad_base](
	[id] [varchar](50) NOT NULL,
	[texto] [varchar](100) NOT NULL,
	[texto_largo] [varchar](4000) NULL,
	[fecha] [datetime] NULL,
	[numero_entero] [int] NULL,
	[numero_decimal] [decimal](12, 2) NULL,
 CONSTRAINT [pk_base] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[estadistica]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[estadistica](
	[id] [varchar](50) NOT NULL,
	[url] [varchar](2000) NOT NULL,
	[fecha_peticion] [datetime] NOT NULL,
	[origen] [varchar](20) NOT NULL,
	[user_agent] [varchar](200) NOT NULL,
 CONSTRAINT [pk_estadistica] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[group_authorities]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[group_authorities](
	[group_id] [bigint] NOT NULL,
	[authority] [varchar](50) NOT NULL,
 CONSTRAINT [pk_group_authorities] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[group_members]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[group_members](
	[id] [bigint] NOT NULL,
	[username] [varchar](45) NOT NULL,
	[group_id] [bigint] NOT NULL,
 CONSTRAINT [pk_group_members] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[groups]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[groups](
	[id] [bigint] NOT NULL,
	[group_name] [varchar](50) NOT NULL,
 CONSTRAINT [pk_groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[oauth_access_token]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[oauth_access_token](
	[token_id] [varchar](255) NULL,
	[token] [varbinary](max) NULL,
	[authentication_id] [varchar](255) NOT NULL,
	[user_name] [varchar](255) NULL,
	[client_id] [varchar](255) NULL,
	[authentication] [varbinary](max) NULL,
	[refresh_token] [varchar](255) NULL,
 CONSTRAINT [pk_oauth_access_token] PRIMARY KEY CLUSTERED 
(
	[authentication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[oauth_approvals]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[oauth_approvals](
	[userId] [varchar](255) NULL,
	[clientId] [varchar](255) NULL,
	[scope] [varchar](255) NULL,
	[status] [varchar](10) NULL,
	[expiresAt] [datetime] NOT NULL,
	[lastModifiedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[oauth_client_details]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[oauth_client_details](
	[client_id] [varchar](255) NOT NULL,
	[resource_ids] [varchar](255) NULL,
	[client_secret] [varchar](255) NULL,
	[scope] [varchar](255) NULL,
	[authorized_grant_types] [varchar](255) NULL,
	[web_server_redirect_uri] [varchar](255) NULL,
	[authorities] [varchar](255) NULL,
	[access_token_validity] [int] NULL,
	[refresh_token_validity] [int] NULL,
	[additional_information] [varchar](2000) NULL,
	[autoapprove] [varchar](255) NULL,
 CONSTRAINT [pk_oauth_client_details] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[oauth_client_token]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[oauth_client_token](
	[token_id] [varchar](255) NULL,
	[token] [varbinary](max) NULL,
	[authentication_id] [varchar](255) NOT NULL,
	[user_name] [varchar](255) NULL,
	[client_id] [varchar](255) NULL,
 CONSTRAINT [pk_oauth_client_token] PRIMARY KEY CLUSTERED 
(
	[authentication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[oauth_code]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[oauth_code](
	[code] [varchar](255) NULL,
	[authentication] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[oauth_refresh_token]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[oauth_refresh_token](
	[token_id] [varchar](255) NULL,
	[token] [varbinary](max) NULL,
	[authentication] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[param]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[param](
	[id] [int] NOT NULL,
	[query_code] [varchar](20) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[type] [varchar](10) NOT NULL,
	[description] [varchar](100) NULL,
	[example] [varchar](500) NULL,
 CONSTRAINT [param-pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[query]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[query](
	[code] [varchar](20) NOT NULL,
	[texto] [varchar](4000) NOT NULL,
	[database_con] [varchar](20) NOT NULL,
	[summary] [varchar](100) NULL,
	[tags] [varchar](255) NOT NULL,
	[definition] [varchar](20) NULL,
 CONSTRAINT [query-pk] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[user_roles]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[user_roles](
	[user_role_id] [int] NOT NULL,
	[username] [varchar](45) NOT NULL,
	[role] [varchar](45) NOT NULL,
 CONSTRAINT [pk_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [apiDinamica].[users]    Script Date: 25/02/2020 14:33:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [apiDinamica].[users](
	[username] [varchar](45) NOT NULL,
	[pass] [varchar](60) NOT NULL,
	[enabled] [tinyint] NOT NULL,
 CONSTRAINT [pk_users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [apiDinamica].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS]) VALUES (N'empty-ciudades-abiertas', N'Localidata', N'liquibase/db-changelog-script-0.0-EMPTY.xml', CAST(N'2020-02-25T13:06:51.3800000' AS DateTime2), 1, N'EXECUTED', N'7:bbfce268af0d2d9b0cd2a79fb056cd15', N'tagDatabase', N'', N'0.0', N'3.4.2', NULL, NULL)
INSERT [apiDinamica].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS]) VALUES (N'table-estadistica', N'Localidata', N'liquibase/db-changelog-script-1.0-CORE-table.xml', CAST(N'2020-02-25T13:06:51.3970000' AS DateTime2), 2, N'EXECUTED', N'7:c6a7f0cec14432c3580ddb06f076665d', N'createTable', N'', NULL, N'3.4.2', NULL, NULL)
INSERT [apiDinamica].[DATABASECHANGELOG] ([ID], [AUTHOR], [FILENAME], [DATEEXECUTED], [ORDEREXECUTED], [EXECTYPE], [MD5SUM], [DESCRIPTION], [COMMENTS], [TAG], [LIQUIBASE], [CONTEXTS], [LABELS]) VALUES (N'table-oauth-access-token', N'Localidata', N'liquibase/db-changelog-script-1.0-CORE-table.xml', CAST(N'2020-02-25T13:06:51.4100000' AS DateTime2), 3, N'EXECUTED', N'7:5b193f221ba44f8eb280b29fd59d4bd9', N'createTable', N'', NULL, N'3.4.2', NULL, NULL)
INSERT [apiDinamica].[DATABASECHANGELOGLOCK] ([ID], [LOCKED], [LOCKGRANTED], [LOCKEDBY]) VALUES (1, 0, NULL, NULL)
INSERT [apiDinamica].[group_authorities] ([group_id], [authority]) VALUES (1, N'consulta')
INSERT [apiDinamica].[group_members] ([id], [username], [group_id]) VALUES (1, N'localidata', 1)
INSERT [apiDinamica].[groups] ([id], [group_name]) VALUES (1, N'Grupo Ciudades Abiertas')
INSERT [apiDinamica].[user_roles] ([user_role_id], [username], [role]) VALUES (2, N'admin', N'ROLE_ADMIN')
INSERT [apiDinamica].[user_roles] ([user_role_id], [username], [role]) VALUES (1, N'admin', N'ROLE_USER')
INSERT [apiDinamica].[user_roles] ([user_role_id], [username], [role]) VALUES (3, N'localidata', N'ROLE_USER')
INSERT [apiDinamica].[users] ([username], [pass], [enabled]) VALUES (N'admin', N'$2a$10$8YBOCvb.UC0Lk40f2Gd2Uugxmk7QPeGSnT1oDRjxzuRrAVYNO62ke', 1)
INSERT [apiDinamica].[users] ([username], [pass], [enabled]) VALUES (N'localidata', N'$2a$10$8YBOCvb.UC0Lk40f2Gd2Uugxmk7QPeGSnT1oDRjxzuRrAVYNO62ke', 1)
SET ANSI_PADDING ON
GO
/****** Object:  Index [code]    Script Date: 25/02/2020 14:33:25 ******/
CREATE NONCLUSTERED INDEX [code] ON [apiDinamica].[param]
(
	[query_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uni_username_role]    Script Date: 25/02/2020 14:33:25 ******/
ALTER TABLE [apiDinamica].[user_roles] ADD  CONSTRAINT [uni_username_role] UNIQUE NONCLUSTERED 
(
	[role] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [index_username_idx]    Script Date: 25/02/2020 14:33:25 ******/
CREATE NONCLUSTERED INDEX [index_username_idx] ON [apiDinamica].[user_roles]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [apiDinamica].[oauth_approvals] ADD  CONSTRAINT [DF_oauth_approvals_expiresAt]  DEFAULT (getdate()) FOR [expiresAt]
GO
ALTER TABLE [apiDinamica].[users] ADD  CONSTRAINT [DF_users_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [apiDinamica].[group_authorities]  WITH CHECK ADD  CONSTRAINT [fk_group_authori_users] FOREIGN KEY([group_id])
REFERENCES [apiDinamica].[groups] ([id])
GO
ALTER TABLE [apiDinamica].[group_authorities] CHECK CONSTRAINT [fk_group_authori_users]
GO
ALTER TABLE [apiDinamica].[group_members]  WITH CHECK ADD  CONSTRAINT [fk_group_memebers_groups] FOREIGN KEY([group_id])
REFERENCES [apiDinamica].[groups] ([id])
GO
ALTER TABLE [apiDinamica].[group_members] CHECK CONSTRAINT [fk_group_memebers_groups]
GO
ALTER TABLE [apiDinamica].[group_members]  WITH CHECK ADD  CONSTRAINT [fk_group_memebers_users] FOREIGN KEY([username])
REFERENCES [apiDinamica].[users] ([username])
GO
ALTER TABLE [apiDinamica].[group_members] CHECK CONSTRAINT [fk_group_memebers_users]
GO
ALTER TABLE [apiDinamica].[param]  WITH CHECK ADD  CONSTRAINT [param_ibfk_1] FOREIGN KEY([query_code])
REFERENCES [apiDinamica].[query] ([code])
GO
ALTER TABLE [apiDinamica].[param] CHECK CONSTRAINT [param_ibfk_1]
GO
ALTER TABLE [apiDinamica].[user_roles]  WITH CHECK ADD  CONSTRAINT [fk_user_role_username] FOREIGN KEY([username])
REFERENCES [apiDinamica].[users] ([username])
GO
ALTER TABLE [apiDinamica].[user_roles] CHECK CONSTRAINT [fk_user_role_username]
GO
USE [master]
GO
