/* Boton menu arriba */
.boton_menu_share_menu {
	top: 200px;	
}	

/* Subrayados en enlaces hover*/
a:hover {	
	text-decoration: none;
}

/* Validación */
/* 		Errores de validacion*/
.parsley-errors-list{
	color: #d65b4a;	
	list-style-type: none;	
	padding: 0 0 0 0;
}

.okField {	
	border-color: #66b92e !important;	
}

.errorField {	
	border-color: #d65b4a  !important;;	
}

/* Fin Validación */


.fieldsetParam
{
	background: #F6F8FA;
}

.oculto{
	display:none;
}

.pointer {cursor: pointer;}

/* Inicio menu desplegable add en consultas */
.share_menu .brand .options ul li.add_query .add_options {
	position: absolute;
	z-index: 98;
	right: 170px;
	display: none;
	width: 250px;
	border: 1px solid #ccc;
	background: #fff;
}

.share_menu .brand .options ul li.add_query .icon-arrow-down {
	font-size: .5em;
	margin-left: 5px;
}

.share_menu .brand .options ul li.add_query .add_options ul li {
	text-align: left;
	display: block;
	margin: 0;
	padding: 0 0 10px;
	border: none;
}

.share_menu .brand .options ul li.add_query .add_options ul {
	padding: 10px 10px 0;
}

/* Fin  menu desplegable add en consultas */

.flechasNav{
	margin-bottom:15px;
}

#relacionesTabla{
	table-layout: fixed;
    word-wrap: break-word;
}
